.profile__info {
  max-width: calc(120px + 30px + 336px);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .profile__info {
  flex-direction: column;
  }
}


@media screen and (max-width: 320px) {
  .profile__info {
  max-width: 282px;
  }
}
